@import '../scss/variables';
.app-info {
    background-color: $color-orange;
}
.app-info__inner {
    padding: 7.2% 0;
    color: $color-white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.app-info-text {
    width: 49%;
    position: relative;
}

.instructions {
    position: relative;
    width: 100%;
    &:not(:first-child) {
        margin-top: 100px;
    }
}

.instructions__item {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    &:not(:last-child) {
        margin-bottom: 65px;
    }
}

.instructions__item-icon {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    position: relative;
    border-radius: 50%;
}

.instructions__item-text {
    width: calc(100% - 110px);
    padding-left: 35px;
}

.instructions__item-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: $color-white;
    margin-bottom: 12px;
}

.instructions__item-desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: $color-white;
}

.app-info__images {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    width: 51%;
    padding: 0 66px 0;
    picture{
        width: 100%;
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: $point-xl){
    .instructions:not(:first-child){
        margin-top: 70px;
    }
}

@media screen and (max-width: $point-lg){
    .app-info__images{
        display: none;
    }
    .app-info-text{
        max-width: 543px;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: $point-md){
    .instructions:not(:first-child){
        margin-top: 50px;
    }
}

@media screen and (max-width: $point-sm){
    .app-info{
        .section-title{
            text-align: center;
            &:before{
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .app-info__inner{
        padding: 13% 0 17%;
    }
    .instructions__item{
        flex-direction: column;
        align-items: center;
    }
    .instructions__item-text{
        width: 100%;
        padding-left: 0;
        text-align: center;
        &:not(:first-child){
            margin-top: 35px;
        }
    }
}
