// Colors - Start
$color-orange: #FE724C;
$color-white: #ffffff;
$color-black: #000000;
$color-yellow: #EFCA08;
$color-gray: #666666;
$color-gray-light: #D9DBE1;
$color-gray-light-2: #F4F5F7;
// Colors - End

// Breakpoints - Start
$point-xl: 1200px;
$point-lg: 1024px;
$point-md: 768px;
$point-sm: 576px;
// Breakpoints - End